.btex-news-container .list-group-item{
    border: none !important;
    background-color: transparent !important;
}

.btex-news-container .list-group-item:focus, .btex-news-container .list-group-item:hover{
    background-color: #EEE !important;
}

.btex-news-container .list-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.btex-news-container h4.list-group-item-heading {
    font-weight: 400;
    color: #555555
}

.btex-news-container .authors{
    font-style: italic;
}

.btn-btex{
    text-decoration:none;
}
.btn-btex2 {
    text-decoration:none;
}